.index__h1 {
  color:#00cc99;
  font-size: 20px;
  font-weight: 400;
}

.nav {
  width: 296px;
  position: fixed;
  height: 100vh;
}

.logo{
  display: block;
  width: 151px;
  height: 40px;
  background-image: url(../images/logo-ANSWER.svg);
  background-size: contain;
  text-indent: 130%;
  white-space: nowrap;
  overflow: hidden;

}
.andychen{
  width: 40px;
  height: 40px;
  img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
  }
}