.index__h1 {
  color:#00cc99;
  font-size: 20px;
  font-weight: 400;
}

.nav {
  width: 296px;
  position: fixed;
  height: 100vh;
}

.logo{
  display: block;
  width: 151px;
  height: 40px;
  background-image: url(../images/logo-ANSWER.svg);
  background-size: contain;
  text-indent: 130%;
  white-space: nowrap;
  overflow: hidden;

}
.andychen{
  width: 40px;
  height: 40px;
  img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
  }
}
.main{
  margin-left: 296px;
  padding: 32px;
}

.list-group-container{
  width: 320px;
}
.expand_more{
  display: inline-block;
}
.expand_less{
  display: none;
}
.collapsed .expand_less{
 display: inline-block;
}
.collapsed .expand_more{
display: none;
}
.list-group-item.active{
  background: #F8F9FA ;
  color: black;
}

.fs-7{
  font-size: 12px;
  line-height: 16px;
}