<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
    <link href="<https://fonts.googleapis.com/icon?family=Material+Icons>"
      rel="stylesheet">
  </head>

  <body>
  <% /* layout*/ %>
    <ul class="nav flex-column bg-light p-8">
      <% /* logo*/ %>
        <li class="nav-item  mb-7">
          <a class="nav-link logo"  href="#">ANSWER</a>
        </li>

        <% /* list */ %>
        <li class="nav-item mb-2">
          <span class="material-icons align-middle">
          assessment
          </span>
          <a class="nav-link d-inline-block align-middle fw-bold text-dark" aria-current="page" href="#">Dashboard</a>
        </li>
        <li class="nav-item mb-2">
          <span class="material-icons align-middle">
          question_answer
          </span>
          <a class="nav-link d-inline-block align-middle fw-bold text-dark " aria-current="page" href="#">Question</a>
        </li>
        <li class="nav-item mb-2">
          <span class="material-icons align-middle text-success">
          assignment
          </span>
          <a class="nav-link d-inline-block align-middle fw-bold text-success active" aria-current="page" href="https://afwyou.github.io/Hexschool-layoutLiveStream-week5/#">Assignment</a>
        </li>
        <li class="nav-item mb-2">
          <span class="material-icons align-middle">
          video_library
          </span>
          <a class="nav-link d-inline-block align-middle fw-bold text-dark" aria-current="page" href="#">Course</a>
        </li>
        
        <li class="nav-item mb-2">
          <span class="material-icons align-middle">
          supervisor_account
          </span>
          <a class="nav-link d-inline-block align-middle fw-bold text-dark align-middle" aria-current="page" href="https://afwyou.github.io/Hexschool-layoutLiveStream-week5/admin">Adimn</a>
        </li>
        <li class="nav-item mb-auto">
          <span class="material-icons align-middle">
          settings
          </span>
          <a class="nav-link d-inline-block align-middle fw-bold text-dark" aria-current="page" href="#">Setting</a>
        </li>
        <div class="d-flex align-items-center">
          <div class="flex-shrink-0 andychen">
          <img src="./assets/images/andychen.jpeg" alt="">
          </div>
          <div class="flex-grow-1 ms-3 fw-bold">
          Andy Chen
          <span class="text-secondary fw-normal">andy0401@mail.com</span>
          </div>
       </div>
    </ul>
  
  <% /* main*/ %>
    <div class="main">
    <%- contents %>
    </div>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/35.0.1/classic/ckeditor.js"></script>
    <script>
    ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
        } );
</script>
  </body>

</html>