<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
    <link href="<https://fonts.googleapis.com/icon?family=Material+Icons>"
      rel="stylesheet">
  </head>

  <body>
   
    <ul class="nav flex-column bg-light p-8">
     <% /* logo*/ %>
      <li class="nav-item  mb-7">
        <a class="nav-link logo"  href="#">ANSWER</a>
      </li>

      <% /* list */ %>
      <li class="nav-item ">
        <span class="material-icons align-middle">
        assessment
        </span>
        <a class="nav-link d-inline-block align-middle fw-bold text-dark" aria-current="page" href="#">Dashboard</a>
      </li>
      <li class="nav-item ">
        <span class="material-icons align-middle">
        question_answer
        </span>
        <a class="nav-link d-inline-block align-middle fw-bold text-dark align-middle" aria-current="page" href="#">Question</a>
      </li>
      <li class="nav-item ">
        <span class="material-icons align-middle">
assignment
</span>
        <a class="nav-link d-inline-block align-middle fw-bold text-dark align-middle" aria-current="page" href="#">Course</a>
      </li>
      <li class="nav-item ">
        <span class="material-icons align-middle">
video_library
</span>
        <a class="nav-link d-inline-block align-middle fw-bold text-dark align-middle" aria-current="page" href="#">Admin</a>
      </li>
      
      <li class="nav-item ">
        <span class="material-icons align-middle">
supervisor_account
</span>
        <a class="nav-link d-inline-block align-middle fw-bold text-dark align-middle" aria-current="page" href="#">Settings</a>
      </li>
    </ul>


    <%- contents %>

   

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>